@import "app";
@import "reset";
@import "variables";

body {
  background-color: $app-bg;
  font-size: 16px;
  font-family: $roboto;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border: 0;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
}

.flex-box-center {
  -webkit-align-items: center;
   align-items: center;
}

.flex-box-start {
  -webkit-align-items: flex-start;
   align-items: flex-start;;
}

// Main Layout
.layout-main {
  -webkit-flex: 1;
          flex: 1;
}

// Header Component
.section-header {
  height: 80px;
  padding: 0 20px;
  background-color: #fff;
  .brand {
    flex: 1;
  }
  .search {
    flex: 2;
    .search-box {
      background-color: #FBFBFB;
      border: 1px solid #E0E0E0;
      // width: 480px;
      height: 40px;
      border-radius: 40px;
      i {
        margin-left: 20px;
        margin-right: 10px;
        padding-right: 10px;
        border-right: 1px solid #E0E0E0;
      }
      input[type="search"] {
        -webkit-appearance: none;
        height: 38px;
        border: 0;
        width: 85%;
        background-color: #FBFBFB;
        outline: none;
        border-radius: 0 22px 22px 0;
        font-size: 16px;
        line-height: 1.2em;
      }
      ::-webkit-input-placeholder {

      }
    }
  }
  .social {
    flex: 1;
    text-align: right;
    ul {
      list-style-type: none;
      li {
        display: inline-block;
        a {
            background-color: #999;
            display: block;
            text-decoration: none;
            height: 26px;
            width: 26px;
            border-radius: 20px;
            color: #fff;
            font-size: 18px;
            padding: 4px 0 0 0;
            text-align: center;
            margin-left: 6px;
            &.icon-social-facebook { background-color: #1764A1; }
            &.icon-social-twitter { background-color: #26A9E0; }
            &.icon-social-linkedin { background-color: #1C75BC; }
        }
      }
    }
  }
}

// Category Bar Component
.category-bar {
  width: 100px;
  background-color: $cate-bar-bg;
  .cate-title {
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    margin: 12px 0;
    color: #E0E0E0;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: solid 1px #68516A;
  }
  ul.cate-list {
    list-style-type: none;
    padding: 0; margin: 0;
    li {
      display: block;
      a {
        text-decoration: none;
        color: #FFFFFF;
        display: block;
        font-size: 12px;
        text-align: center;
        padding: 8px 5px;
        white-space: nowrap;
        &:hover, &:focus, &.active {
          background-color: #00738e;
        }
        .cate-icon {
          width: 40px;
          margin: 0 auto 5px;
          opacity: 0.6;
        }
        .cate-name {
          overflow: hidden;
          text-overflow: ellipsis;
          text-transform: uppercase;
        }
      }
    }
  }
}

// News Container Component
.news-container {
  -webkit-flex: 1;
          flex: 1;
}

// Promotion Lyout
.layout-promo {

}

// Promotion Component
.section-promotion {
  position: relative;
  width: 350px;
  height: 100%;
  background-color: $promotion-bg;
  .promo-header {
    height: 80px;
    background-color: #194A83;
    font-family: $roboto-condensed;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    -webkit-justify-content: center;
    justify-content: center;
    font-size: 26px;
    margin-bottom: 15px;
  }
  .promo-body {
    text-align: center;
    -webkit-justify-content: center;
    justify-content: center;
    margin: 15px 0;
    .slider-cycle {
      .item-title {
        font-size: 18px;
        font-weight: 700;
        color: #5FBFFF;
        margin-bottom: 10px;
      }
      .item-desc {
        font-size: 14px;
        color: #EFEFEF;
        margin: 0 30px 30px;
        height: 30px;
      }
    }
    .owl-carousel {
      background: url(../images/smart-phone-mock.png) top center no-repeat;
      background-size: 60%;
      padding: 36px 85px 0;
      .owl-stage-outer {
        padding-bottom: 60px;
      }
      div {
        .phone-placeholder {

        }
      }
      .owl-controls {
        width: 92%;
        position: absolute;
        top: 170px;
        left: 12px;
        .owl-nav {
          text-indent: 100%;
          white-space: nowrap;
          overflow: hidden;
          width: 100%;
          .owl-prev {
            float: left;
            position: relative;
            height: 50px;
            width: 50px;
            background-color: transparent;
            border: 1px solid #7389A4;
            border-radius: 30px;
            &:before {
              font-family: 'icomoon' !important;
              position: absolute;
              content: "\e408";
              color: #fff;
              font-size: 20px;
              left: -34px;
              top: 14px;
            }
          }
          .owl-next {
            float: right;
            position: relative;
            height: 50px;
            width: 50px;
            background-color: transparent;
            border: 1px solid #7389A4;
            border-radius: 30px;
            &:before {
              font-family: 'icomoon' !important;
              position: absolute;
              content: "\e409";
              color: #fff;
              font-size: 20px;
              left: -34px;
              top: 14px;
            }
          }
        }
      }
    }
  }
  .promo-footer {
    text-align: center;
    justify-content: center;
    border-top: 1px solid rgba(132, 165, 206, 0.22);
    border-bottom: 1px solid rgba(132, 165, 206, 0.22);
    height: 90px;
    .download-text {
      margin: auto;
      font-size: 19px;
      color: #84A5CE;
      span {
        display: block;
        font-size: 26px;
        color: #F0F0F0;
      }
    }
    .download-appstore {
      margin: auto;
    }
  }
}
